<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap cdn -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@"></script>
</head>


<body>
    <center>
    <h2>Calculate Sum</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Calculate</button>
    </form>
    {% if result is not None %}
    <div style="margin-top:1rem;">Result: <strong>{{ result }}</strong></div>
    {% endif %}
</center>
</body>
</html>